// bower:scss
// endbower

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$baseFontSize: 16;

/*------------------------------------*\
  #FUNCTIONS
\*------------------------------------*/

@function rem($pixels, $context: $baseFontSize) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

/*------------------------------------*\
  #BASE STYLES
\*------------------------------------*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Press Start 2P', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

svg,
img {
	width: 100%;
	height: auto;
}