// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

/*------------------------------------*\
  #FUNCTIONS
\*------------------------------------*/

@function rem($pixels, $context: $baseFontSize) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}


/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

// typography
$baseFontSize: 16;

$modular-scale-ratio: $golden;
$modular-scale-base: rem($em-base);

/*------------------------------------*\
  #MIXINS
\*------------------------------------*/

@mixin row() {
	display: flex;
	flex-flow: row wrap;
	margin: -1em 0 1em -1em;
}

@mixin column($width, $fit: false) {
	flex: 0 0 $width;
	padding: 1rem 0 0 1rem;

	@if $fit {
		flex: 1;
	} else {
		flex: 0 0 $width;
	}
}

/*------------------------------------*\
  #BASE STYLES
\*------------------------------------*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: #eee;
	font-family: 'Press Start 2P', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

svg,
img {
	width: 100%;
	height: auto;
}

/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

.page-content {
	max-width: modular-scale(9);
	margin: 0 auto;
	padding: 1rem;
}

/*------------------------------------*\
  #CARDS
\*------------------------------------*/

.cards {
	@include row;
}

	.card__container {
		@include column(100% / 4);
	}

		.card__inner {
			position: relative;
			height: modular-scale(6);
			perspective: rem(800px);
		}

			.card {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform-style: preserve-3d;
				transition: transform 1s;
			}

				.card figure {
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 1rem;
					backface-visibility: hidden;
				}

						.card__img {
							display: inline-block;
							stroke-width: 0;
						}

				.card__front {
					// background-color: #000;
				}

					.card__img--logo {
						width: modular-scale(5);
					}

				.card__back {
					transform: rotateY(180deg);
				}
