svg(style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    symbol#tmnt-logo(viewbox='0 0 185.6 65.4')
      title TMNT Logo
      g
        path(fill-rule='evenodd', clip-rule='evenodd', d='M181.7,49.2c0-0.2,0-0.4,0-0.5c-0.2-0.9,0.2-1.9-0.2-2.8c0.1,0,0.1,0,0.1-0.1\
        c-0.1-0.3-0.2-0.5-0.3-0.8c-0.2-0.7-0.3-1.3-0.6-2c-0.2-0.3-0.3-0.5-0.5-0.8c-0.1-0.2-0.1-0.4-0.2-0.6c-0.1-0.4-0.8-1.5-1.1-1.7\
        c-0.2-0.1-0.4-0.3-0.6-0.4c-0.3-0.2-0.5-0.4-0.4-0.8c0-0.2-0.2-0.1-0.3-0.3c-0.4-0.4-0.8-0.8-1.3-1.1c-1.7-1.1-1.8-1.2-1.8-1.3\
        c0.4-0.5,0.4-0.5,1-1.2c0.4-0.5,1.7-2.2,2.2-3c0.6-0.9,1-2,1.2-3.1c0.1-0.5,0-1.1-0.1-1.5c-0.8-1.7-4-3.8-5.7-4.5\
        c-0.5-0.2-1-0.4-1.5-0.6c-0.5-0.2-1-0.3-1.5-0.5c-0.2,0.3-0.3,0.4-0.5,0.3c-0.1-0.2,0-0.2-0.1-0.3c-1.2-0.4-4.6-0.9-5.5,0.2\
        c-0.4,0-0.7-0.2-1-0.4c-0.7-0.2-1.8-0.5-2.5-0.1c-0.6,0-1.4,0.2-1.8,0.6c0-0.1,0-0.1-0.1-0.1c-0.8,0.1-2.7,1.3-3.2,1.9\
        c-0.4,0-0.7-1.5-0.9-1.8c-0.1-0.2-0.4-0.5-0.7-0.6c-2.2-1.2-5.1-1.6-7.6-2.1c-1-0.2-2.1-0.5-3.2-0.4c-0.5,0-0.9,0.3-1.3,0.5\
        c0-0.1-1.6-1-1.9-1.2c0,0,0.1,0,0.1,0l21.5-0.3L172.9,0L18.4,0l11.3,18.4c0,0,4.2,0,5.4,0c5.4,0.1,10.7-0.1,16.1,0.1\
        c0,0,0,0.1,0,0.1c0,0,0.1,0,0.1,0c0,0,0,0.1,0,0.1c-0.2,0.1-0.5,0.2-0.7,0.3c-1.1,0.4-2.3,0.7-2.9,2.2c-0.8,0.2-0.4-1.3-2.9-0.9\
        c-1.5,0.2-3.7,0.5-4.9,1c-0.4,0.2-1.1,0.8-1.5,0.7c-1-0.3-3.5-0.8-6,1.4c-0.5,0-1.4-1.3-1.9-1.6c-0.9-0.7-1.8-1.1-2.9-1.3\
        c-3.1-0.4-11.7,5.9-12.3,9.1c-1.6,0-2.7,1-3.8,1.9c-1.4,1.2-2.7,2.6-4.3,3.5C6.3,35.5,5.1,36,4,36.1c-0.8,0.2-3.7-0.6-3.9,2.5\
        c-0.1,1.5,0.6,2.6,1.6,3.6c0.8,0.8,1.6,1.6,2.7,2.1c0.6,0.2,1.2,0.4,1.8,0.5c1.7,0.5,3.8,0.6,5.6,0.2c1.6-0.5,2.3-0.7,4.8-1.9\
        c0.4,1,1.1,2.5,0.9,2.2c0.8,1.8,1.9,4.1,1.5,3.4c0.2,0.6,0.8,2.1,1,2.6c0.9,2,2.1,5.7,2.1,5.5c0.4,1.2,0.8,2.4,1.1,3.6\
        c0.3,1.4,0.5,3.2,1.6,4.2c0.5,0.4,1.9,1.4,4.3,0.3c1-0.4,3.6-2.3,4-2.8c0.5-0.7,1-1.3,1.6-2c0.5-0.4,1.3-0.3,1.9-0.4\
        c1.2-0.1,2.1-0.9,2.7-1.9c1.6-2.8-0.6-5.7-2.2-7.7c-1-1.2-1.9-2.5-2.7-3.8c-0.1-0.2-0.5-0.6-0.4-0.8c0,0-4.1-6.4-5.3-9.5\
        c-0.1-0.2-0.4-0.2-0.3-0.4c0.8-1.1,4.7-1.1,4.8-1.3c0.4-0.7,1.3,4.5,1.5,4.8c0.7,1.2,0.5,0.9,0.6,2.4c0.2,0.9,0.8,2.8,0.9,3\
        c0.2,0.4,0.3,0.9,0.5,1.3c0.3,0.8,0.7,1.8,1.2,2.5c0.5,0.7,0.8,1.4,1.4,2.1c1.7,2,3.8,3.3,6.4,3.8c2.6,0.6,6.8-0.2,8.7-1.8\
        c0.5-0.5,0.7-1.4,1.1-1.7c0.3-0.2,0.6-0.2,0.9-0.3c0.6-0.2,1-0.5,1.4-1c0.6-0.7,1.2-1.4,1.7-2.2c0.2-0.3,0.4-0.7,0.7-0.8\
        c0.3-0.1,0.5,0.4,0.6,0.6c1.2,2.2,3.6,2.2,6.1,2.2c0.7-0.1,1.9-0.6,5.8-0.4c0.8,0,1.3-0.7,1.9-1.2c0,0,0.1,0,0.1,0\
        c0.6,0.5,1.3,1.1,2,1.4c0.4,0.1,0.7,0.2,1.1,0.3c0.2,0,0.4,0.1,0.6,0.1c0.3,0.1,1.4,0.5,4.9-1.2c0.9-0.5,1.9-1.1,2.6-1.9\
        c0.3-0.4,0.6-0.8,0.9-1.1c0,0,0-0.1,0-0.1c0.2,0,0.4,0.2,0.5,0.4c0,0,0.1,0,0.1,0c0,0.8,1.3,1.7,2.1,1.5c0,0.3,1.2,0.1,1.4,0.1\
        c0.5,0,1-0.2,1.4-0.3c1.2-0.3,2.5-0.6,3.7-0.9c0.9-0.2,1.7-0.2,2.6-0.3c0.4-0.1,0.7-0.1,1.1-0.2c0.3,0,0.6-0.1,0.9-0.2\
        c0.6-0.2,1-0.6,1.5-1.1c0-0.2,0.2,0.1,0.2,0.2c0.5,1,1.1,1.8,2.1,2.5c1.7,1.2,4.2,0.9,6.3,1.2c1.3,0.2,2.6,0.6,3.9,0.7\
        c0.9,0.1,1.9,0.4,4.5,1.4c0.6,0.2,2.4,1.3,3,1.2c0.3,0,0.3-0.1,0.5,0.1c0,0.2,0.5,0,0.6,0c0.6-0.1,1.2-0.4,1.5-0.8\
        c0.3-0.3,0.7-1.3,1.1-1.2c0,0,1.3,0.6,2.9,0.4c1.7-0.1,4.4,0,6.2,0.2c2.9,0.3,6.3,1.3,8.5,2.9c1.1,0.8,2.5,2.4,3.8,2.6\
        c0.7,0.1,1.4,0.1,2-0.2c0.2-0.1,0.4-0.3,0.6-0.4c0-0.1,0.1-0.1,0.2-0.1c0,0.1,0.8,0.7,0.8,1c0.1,0.4,0,0.7,0.1,1\
        c0.5,1,1.3,1.7,2.2,2.3c0.3,0.3,0.6,0.5,0.9,0.7c0.9,0.5,1.9,0.9,2.8,1.4c0.6,0.1,1.2,0.2,1.8,0.4c0.8,0.2,1.6,0.4,2.5,0.5\
        c0.5,0,1.2,0.1,1.7,0c0.3-0.1,0.6-0.3,1-0.2c0.4,0,0.7,0.5,1,0.7c0.5,0.2,1.3,0.3,1.9,0.3c6.2,0.3,11.3-3.7,13.8-8.8\
        c0.5-1,0.8-2.4,1.1-3.6c0.1-0.4,0.1-0.7,0.2-1.1C181.9,49.4,181.8,49.3,181.7,49.2L181.7,49.2L181.7,49.2z M48.7,39.1\
        c-0.3,1-0.5,0.6-0.6,0.4c-0.3-0.6-0.2-1.6-0.3-1.7c-0.3-0.4-0.2-3.5-0.2-4.2c-0.2-0.3-0.5-0.9-0.6-1c0-0.4,0.5-1.2,0.6-1.7\
        c0.1-0.7,0-1.4,0-2.1c0-0.7,0.1-1.4,0.1-2.1c0.2-0.4,0.4,0.8,0.4,1c0.2,0.6,0.7,4.6,0.7,5.4C48.8,33.9,49.2,37.4,48.7,39.1\
        L48.7,39.1L48.7,39.1z M75.2,27.1c-0.1,0-0.3,0.3-0.4,0.4c-0.2,0.1-0.5,0.2-0.8,0.3c-0.3,0-0.5,0.1-0.8,0.1c-0.3,0-0.7,0-0.9,0.2\
        c-0.4,0-0.8-0.1-0.8-0.5c-0.1-0.9,1.4-0.7,2-0.7c0.3-0.1,0.7-0.2,1-0.2C74.8,26.7,74.9,26.8,75.2,27.1C75.2,27,75.2,27,75.2,27.1\
        L75.2,27.1L75.2,27.1z M87,38.6C87,38.7,87,38.7,87,38.6C86.9,38.7,86.9,38.7,87,38.6c-0.4,0-0.6-0.3-0.8-0.4\
        c-0.6-0.3-2.6-0.8-3.1-1.1c-0.5-0.3,0.1-0.6,0.2-0.8c1.6,0,2.7-1.4,3.9-2.1c0.2,0.1,0.4-0.1,0.4,0.4C87.7,35,87.3,38.3,87,38.6\
        L87,38.6L87,38.6z M108.5,29.6c-0.5,0.4-1,0.8-1.5,1.3c-0.9,0.9-2.9,8.1-3.2,8.2c-0.2,0.1-1.2,3.2-1.6,2.4\
        c-0.2-0.5-0.2-2.1-0.4-3.2c-0.2-2-0.1-2.6-0.6-3.5c-1.1-0.6,0.3-1.4,0.3-1.4c0-0.6,0-0.7,0-0.9c0.1-1.5-0.2-7.8,0.8-7.5\
        c1.4,0.3,5.5,1.5,6.2,2.9c0.2,0.5,0,1.1,0.1,1.7C108.6,29.5,108.6,29.5,108.5,29.6L108.5,29.6L108.5,29.6z M130.9,18.8\
        c-0.1,0.5-0.1,1.1-0.2,1.6c0,0.5,0,1,0,1.5c-0.1,0.9-0.2,1.8-0.3,2.7c-0.2,1.5-0.4,2.9-0.8,4.4c-0.4,1.6-1.1,4.1-1.3,5.7\
        c0,0.3-0.3,0.3-0.5,0.5c-1,0.9-1.2,2.1-1.2,2.1l-6.9-0.5c0,0,0.2-0.7,0.3-1.1c0.2-0.8,0.1-2.2,0.8-2.6c0.2-0.1,0.7-1.3,0.9-1.7\
        c1.1-2.5,2.3-3.8,3.8-6c0.9-1.3,2.1-2.4,2.6-3.9c0.2-0.6,0-1.6-0.3-2c-0.2-0.3-0.6-0.6-0.5-1.1c1.2,0,2.3,0,3.5,0c0,0,0,0.1,0,0.1\
        C131,18.5,130.9,18.7,130.9,18.8L130.9,18.8L130.9,18.8z M157.3,43.4c-0.3,0.2-0.7,0.3-1,0.5c-0.7,0.4-1.4,0.9-2.3,1\
        c0-1.5-0.1-2.2-1.5-2.7c-0.3-0.1-0.7-0.2-0.9-0.5c-0.2-0.3,0.8-2.4,1-2.7c0,0,0-0.1,0-0.1c0.5,0.2,0.5,0.6,0.9,0.9\
        c0.4,0.5,0.8,0.9,1.2,1.4c0.3,0.3,2.7,1.8,2.7,1.9C157.5,43.2,157.4,43.3,157.3,43.4L157.3,43.4L157.3,43.4z M166.1,50\
        C166.1,50.1,166.1,50.1,166.1,50c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.4,0c0,0.1-0.5,0-0.6,0c-0.8-0.1-1.6-0.5-2.2-1.1\
        c-0.9-0.9-1.7-2.6-0.4-3.5c0.3,0.2,1.6,0.7,1.8,1c0.4,0,0.8,0.4,1.2,0.6c0.5,0.3,1.1,0.6,1.6,1C167.7,49,167,49.8,166.1,50\
        L166.1,50z')

        path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M22.4,2.1l8.9,14.1l34,0c0,0,11.4-3,15.2-0.3\
        c0.2,0,0.5-0.4,0.9-0.5c0.5-0.1,1,0.1,1.4,0.1c1.1,0.1,2.1,0.2,3.2,0.2c0.3,0,0.7-0.1,1-0.1c0.3-0.1,0.7-0.1,1-0.1\
        c0.2,0,0.4-0.1,0.6-0.1c0.2,0,0.4-0.1,0.6-0.1c0.5-0.3,1.4-0.5,2.1-0.5c0.4,0,0.8,0.1,1.2,0c1.2-0.4,2.4-0.8,3.6-1.1\
        c3.5-1.3,10.6-1.3,13.6-0.5c0.5,0.2,1,0.3,1.4,0.5c0.3,0.2,0.7,0.4,1,0.6c0.3,0.1,0.6,0,1,0c0.4,0,0.8,0.1,1.2,0.1\
        c1,0.3,2,0.5,2.9,0.8c0.3,0.1,0.6,0.2,0.9,0.3c0.6,0.1,1.2-0.3,1.9-0.2c0.8,0.2,2.5,0.7,2.5,0.7l37.8-0.1l8.6-14L22.4,2.1L22.4,2.1\
        z')

        path(fill-rule='evenodd', clip-rule='evenodd', fill='#9CCB40', d='M125.4,40.5c-0.3-0.4-0.9-0.4-1.4-0.5c-0.4-0.1-0.8-0.2-0.7-0.2\
        c-3.5-0.5-5.6-0.2-7.3,0.4c-1.2,0.4-1.6,1.2-2,1.6c-0.2,0.3-0.8,0.3-0.7,0c0.2-1.1,1.6-1.9,2.3-2.8c0.9-1,3-4.9,1.7-6.1\
        c-0.4-0.4-0.9-0.8-1.5-0.8c-0.8-0.1-1.4,0.5-2,1c-0.2,0.1-2.3,3.5-1.9,1.5c0.2-0.5,1.4-1.4,1.4-1.5c0.1-0.1,0.4-0.3,0.4-0.6\
        c0-0.3-0.7-0.6-0.1-0.7c0.1,0,0.1,0,0.2,0c0.3,0,0.6-0.1,0.8-0.3c0.3-0.4,0.1-1.1,0.1-1.6c0-0.5,0-1.2,0.2-1.7c1-3,1.4-0.4,2.1-4\
        c0.1-0.3,1.1,0.2,0.2,1.8c-0.2,0.3-0.3,0.4-0.4,0.7c-0.4,0.8-1.4,2.6-1.2,3.6c0.1,0.4,0.4,0.8,0.7,1.2c0.3,0.4,0.9,0.8,1.4,0.9\
        c0.4,0,0.7-0.1,1-0.4c0.2-0.3,0.4-0.6,0.5-0.8c0.6-1,1.2-2.1,1.8-3.1c1.2-2,2.8-3.7,3.9-5.7c0.2-0.4,0.4-1.1,0.2-1.6\
        c-0.3-0.8-5-2.4-6-2.3c-0.4,0-0.6,0-0.9,0.2c-0.6,0.7,0.1,4-1.3,3.9c-0.1-0.5,0.3-1.2,0.3-1.8c0.1-2.4-0.4-2.4-2-2.9\
        c-0.6-0.2-0.8-0.3-1.7-0.5c-0.6,0.1-0.6,0.5-0.7,0.9c0,0.4-0.1,0.7-0.1,1.1c-0.1,1.2-0.2,2.4-0.4,3.5c0,0.4-0.1,0.7-0.1,1.1\
        c-0.3,1.1-0.5,2.2-0.7,3.3c-0.1,0.6-0.3,1.2-0.5,1.9c-0.1,0.3-0.2,0.5-0.2,0.8c0,0.7,0.6,1,0.6,1.5c-0.6-0.1-1.1-0.1-1.5,0.3\
        c-1.1,1.1-1.5,2.8-1.9,4.3c-0.3,1.3-0.8,2.4-1.3,3.6c-0.3,0.8-0.7,1.6-1,2.3c-0.2,0.4-0.5,0.8-0.7,1.3c-0.1,0.4-0.1,1,0.2,1.3\
        c0.8,1.1,4.8,1.1,6.2,1.2c1,0.2,2,0.3,3,0.5c1.5,0.3,2.9,0.7,4.3,1.2c0.9,0.3,2.9,1.5,3.7,1.2c1.1-0.3,1.8-2.4,2.1-3.4\
        c0.5-1.3-1.4-2-2.3-2c-0.4,0-1,0.3-1.4,0.3c-0.7,0.1-3.2,0.2-3.4-0.6c0-0.4,0.2-0.3,0.3-0.3c0.7,0.3,1,0.3,1.8,0.3\
        c0.3,0,1.2-0.2,2.1-0.3c0.2,0,0.1-0.1,0.1-0.1c-1.2-0.1-1.9,0.2-1.9,0c-0.2-0.1-0.2-0.2,0.1-0.4c0.8-0.3,1.1-0.3,1.7-0.2\
        c0.9,0.1,1.2,0.6,2.2,0.4c0.2,0,0.7-1.6,1.1-1.3c0.4,0.7,0,1.4-0.5,1.6c-0.5,0.2-0.6,0.2-0.5,0.5c0.2,0.4,0.7,0.2,1,0.2\
        C125.7,43.1,126,41.2,125.4,40.5L125.4,40.5L125.4,40.5z M109.3,39.1c-0.2,0.6-0.5,1.5-0.4,2.2c0.1,0.9-0.4,0.6-0.4,0.7\
        c-0.3-0.5-0.7-1.6,1-4.2c0-0.2,0.1-0.4,0.2-0.4C110.6,37.2,109.5,38.1,109.3,39.1L109.3,39.1L109.3,39.1z M112.7,43.1\
        c-0.2,0.3-0.5,0.3-0.7,0.2c-0.8-1.2,0-2.2,0.7-3.3c0.2-0.2,0.2-0.8,0.7-0.8c1.9,0-0.3,1.5-0.6,2.3\
        C112.5,42.1,112.7,42.5,112.7,43.1L112.7,43.1z')

        path(fill-rule='evenodd', clip-rule='evenodd', fill='#9CCB40', d='M59.6,35.5c-0.1-0.7-0.7-1.5-1.4-1.2c-0.3,0.2-0.6,0.4-0.9,0.6\
        c-0.6,0.3-1.1,0.6-1.5,1.1c-0.3,0.3-0.4,0.7-0.6,1c-0.6,0.9-0.1,1.7-0.4,2c-0.1,0-0.2,0-0.3,0c-0.5-1.6-0.1-2.9,1.2-3.7\
        c1.6-0.9,1-0.9,0.1-0.4c-0.5,0.3-0.9,0.6-1,0.4c-0.5-0.9-1.5-2-0.5-2c0.6,1.2,2.4,0.5,3.5,0.5c0.5-0.3,1.1-0.1,1.4-0.7\
        c1-1.7-0.2-10.6-1.1-11.9c-0.5-0.7-1.1-0.9-2-0.9c-0.2,0.1-0.4,0.3-0.6,0.4c-0.2,0.4-0.4,0.7-0.6,1.1c-0.5,0.6-1.3,1.1-1.5,1.9\
        c-0.2,0.6-0.1,1.3-0.2,2c0,0.2,0.1,0.7-0.4,0.5c-0.7-0.2-0.3-2.4,0.4-3.7c0.2-0.4,0.5-0.7,0.7-1.1c0.1-0.1,0.2-0.4,0-0.4\
        c-0.4-0.2-0.7,0-1.1,0.1c-1.1,0.2-3.2,0.6-3.4,1.9c-0.2,0.9,0.5,2.4,0.7,3.2c0.5,1.9,0.8,3.9,1,6c0.2,2.4,0.1,5-0.2,7.3\
        c-0.1,0.6-0.2,1.2-0.3,1.9c-0.1,0.4-0.3,0.8-0.4,1.2c-0.1,0.3-0.2,0.5-0.3,0.8c-0.1,0.1-0.5,0.8-0.7,1.1c-0.2,0.3-0.4,0.5-0.6,0.8\
        c-0.1,0.2-0.8,1.7-0.9,2c-0.1,0.6,0.1,0.9,0.1,1.3c0,0-0.1,0-0.1,0c0,0,0,0.1,0,0.1c-0.2,0-0.4,0.4-0.7-0.2c-0.4-1,0.7-2.7,1.1-3.5\
        c0.1-0.3,0.4-0.6,0.3-1c-0.1-0.6-0.9-0.7-1.3-1c-0.4-0.3-0.7-0.8-0.9-1.3c-0.3-0.9-0.5-2-0.6-2.9c-0.1-0.8-0.3-5-0.6-5.4\
        c-0.5-0.5-1.4-0.3-2-0.5c-0.3-0.1-0.7-0.2-1-0.3c-0.2-0.1-0.4-0.2-0.7-0.4c-0.2-1.1,1.5,0.6,2.2,0.3c0.1,0,0.3,0,0.4-0.1\
        c0.4-0.1,0.9-0.4,1.1-0.8c0.2-0.4,0.1-1,0.2-1.5c0.1-1.5,0.3-2.9,0.3-4.4c0-0.6,0.1-1.2-0.1-1.7c-0.1-0.3-0.4-0.5-0.7-0.7\
        c-0.9-0.3-2,0-2.9,0.2c-0.6,0.1-1.4,0.4-1.9,0.8c-0.9,0.8-0.7,3.5-0.4,4.6c0.1,0.5,0.3,1,0.5,1.8c0,0.3-1-0.6-1.4-0.1\
        c-2,3.4-2.9,1.8-1.9,1.4c0.6-0.5,0.8-0.7,1.2-1.3c1.1-2.1,2.1-7.3-2.1-6.2c-0.7,0.2-1.6,0.3-2.2,0.8c-0.3,0.2-0.5,0.6-0.4,1\
        c0.1,0.7,0.4,1.3,0.7,1.9c0.3,0.8,0.6,1.5,0.9,2.3c0.3,1.2,0.7,2.4,1,3.6c0.3,1.2,0.3,3.1,1.1,3.9c0.3,0.3,0.7,0.5,1.2,0.5\
        c0.4,0,2.7-1,2.7-1.3c0,0,1.2-1.4,1.7-1.4c0.7-0.1-0.5,0.7-1.6,1.8c-1.8,1.7-3,1.1-3.4,2.5c-0.2,0.7,0.3,2.7,0.4,3.5\
        c0.9,3.9,3.4,7.6,7.6,8.3c1,0.1,1.9,0.1,2.8,0.1c0.7-0.1,1.3-0.1,2.1-0.4c1.7-1,2.9-0.9,2.9-4.1c0-0.2-0.1-0.1-0.1-0.6\
        c0-0.3,0.2-0.2,0.3,0c0.3,0.4,0.3,1.1,0.8,1.3c0.8,0.4,1.5-0.6,1.9-1c0.3-0.3,0.5-0.6,0.8-0.9c1.5-2.4,2-5.2,2.5-8.1\
        C59.5,37.5,59.7,36.3,59.6,35.5L59.6,35.5L59.6,35.5z M40.3,29.6c-0.1-0.2-0.2-0.4-0.4-0.6c-0.1-0.6-0.2-1.3-0.3-1.9\
        c0-0.1,0-0.4,0.2-0.5c0.1,0,0.2,0,0.2,0.1c0.2,0.5,0,1.1,0.1,1.6c0.1,0.4,0.2,0.5,0.5,1.1C41,29.7,40.5,29.6,40.3,29.6L40.3,29.6\
        L40.3,29.6z M41.7,38.5c0.7,0-1.9,0.3,0.9-1.6c0.6-0.4,0.8-1.1,1.1-1.8c0-0.1,0.1-0.2,0.3,0C43.6,37.2,42.5,37.9,41.7,38.5\
        L41.7,38.5L41.7,38.5z M52.9,28.4c0.7-0.1,1.6,1.8,1.2,2.3c-0.4,0-0.5-0.5-0.5-0.9C53,29.5,52.6,28.4,52.9,28.4L52.9,28.4\
        L52.9,28.4z M55.5,47.3c-0.5,0.1-1.1,0.2-1.5-0.1c-0.3-0.3-1.6-3.6-1.5-4.2c0-0.4,0.2-0.7,0.4-1c1.3-1.7,1.2-0.8,0.4,0\
        c-0.5,0.5-0.3,0.9-0.3,1.2c0.2,0.5,0.4,1,0.6,1.4c0.2,0.9,0.2,3,1.8,2.4c0.2-0.1,0.9-0.4,0.9-0.6c0.1,0,0.1,0,0.2,0\
        C56.2,47,55.9,47.2,55.5,47.3L55.5,47.3z')

        path(fill-rule='evenodd', clip-rule='evenodd', fill='#9CCB40', d='M152.9,24.4c0-0.3-0.2-0.6-0.4-0.8c-0.5-0.4-1.2-0.4-1.9-0.6\
        c-1-0.2-1.9-0.5-2.9-0.7c-1.3-0.2-3.1-0.8-4.4-0.5c-1,0.2-1.2,1.4-1.8,1.4c-0.4,0-0.5-1.1-0.7-1.3c-0.2-0.3-0.5-0.5-0.9-0.6\
        c-1.7-0.6-3.8-0.5-5.6-0.8c-0.1,0-0.6,0.1-0.6,0c-0.4,0.2-0.3,0.2-0.4,0.6c-0.2,0.7-0.1,1.5-0.2,2.2c-0.1,1.3-0.3,2.7-0.4,4\
        c-0.2,1.2-0.4,2.3-0.6,3.5c-0.2,0.8-0.5,1.6-0.5,2.5c0,0.9,0.1,1.6,0.9,2.1c0.2,0.1,0.4,0.1,0.7,0.3c0.1,0.1,0.2,0.2,0.1,0.4\
        c-0.8,0.6-2.1-1.1-2.6-0.3c-0.2,0.4-0.4,0.8-0.6,1.2c-2.1,7.5-2.9,8.2-2.7,9.1c0.1,0.7,3.1-0.8,4-1.8c0.4-0.5,1.2,0.4,0.5,0.6\
        c-0.3,0.2-0.5,0.4-0.7,0.5c-0.8,0.6-1.1,1-2.2,1.3c-0.1,0-0.1,0-0.5,0.2c-0.2,0.3,0.1,0.5,0.3,0.5c0,0,6.5,0.1,5.1,0\
        c0.7,0,1.4,0,2.1,0.1c2.2,0.3,4.2,0.8,6.1,1.7c0.5,0.2,0.9,0.5,1.4,0.8c0.5,0.3,1,0.6,1.6,0.9c0.7,0.6,1.6,1.9,2.7,1.5\
        c1.1-0.4,3.4-5.4,3.6-6.7c0.1-0.4,0-0.9-0.2-1.1c-0.5-0.5-3-1.2-3.7-1.2c-0.5,0-0.9,0.2-1.3,0.3c-0.1,0-0.4,0.2-0.6,0.4\
        c-0.4,0.2-0.6,0.4-0.9,0.4c-0.1,0-0.3,0-0.2-0.4c0.2-0.4,0.7-0.1,0.6-1.2c-0.1-0.1-0.3-0.2-0.4-0.3c-0.6-0.2-1.3-0.2-1.9-0.3\
        c-0.9-0.1-2.7-0.7-3.6-0.4c-1.6,0.4-1.1,1.3-1.9,1.4c-0.1,0-0.4-0.1-0.3-0.2c0.4-0.8,1-0.9,1.6-2.8c0.2-0.5-0.1-1.1,0.1-1.6\
        c0.2-0.4,0.2-0.8,0.2-0.9c-0.3-1.2,0.8-1.8,1.4-1.8c0.6,0,0.5,0.3,0.2,0.6c-0.2,0.1-0.5,0.1-0.7,0.3c-0.3,0.3-0.4,0.8-0.3,1.1\
        c0.2,0.6,0.7,1,1.2,1.2c0.7,0.3,1.6,0.2,2.3,0.4c1.9,0.3,3.8,1,5.8,1c0.4-0.1,0.6-0.4,0.8-0.8c0.4-0.7,2.4-4.9,1.7-5.5\
        c-0.4-0.3-4-1-4.5-0.6c-0.7,0.4-1,2.3-1.5,1.5c-0.1-0.5,0.5-1.3,0.2-1.7c-0.4-0.7-4.3-0.5-5.2-0.5c-0.2,0-1,0.1-1.4,0\
        c-0.2,0-0.2-0.6,0-0.7c0-0.2,1-0.2,1.5-0.3c0.6-0.2,0.6-3.6,0.6-4.4c0-0.3,0-0.8,0.2-0.7c0.2,0.1,0.8,1.9,1.6,2.4\
        c0.5,0.3,1,0.4,1.5,0.5c1.3,0.3,2.6,0.6,4,0.9c0.8,0.1,1.8,0.7,2.6,0.3c0.3-0.1,0.6-0.4,0.7-0.7c0.3-0.6,0.3-1.2,0.5-1.9\
        c0.2-1,0.5-1.9,0.7-2.9C152.8,25.1,152.9,24.8,152.9,24.4L152.9,24.4L152.9,24.4z M138.8,45.8c1-0.2,1.2-0.6,1.7-0.5\
        C140.5,46.3,138.3,46.3,138.8,45.8L138.8,45.8L138.8,45.8z M138.1,46.5c0.6-0.2,1.1-0.1,1.6-0.1c1.2-0.2,2.3-0.7,3.2-1.5\
        c0.2-0.1,0.5-0.1,0.4,0.3c-0.1,0.5-4.1,2.5-5.2,1.9C137.9,47,137.9,46.6,138.1,46.5L138.1,46.5L138.1,46.5z M133.4,41.9\
        c-0.3,0,0.2-0.7,0.6-1.5c0.2-0.3,0.5-0.5,0.5-1.3c0-0.2-0.1-0.6,0.3-0.5C135.7,39,134.2,41.9,133.4,41.9L133.4,41.9L133.4,41.9z\
        M136.2,36.9c0.1,0.4,0.1,1.1,0,1.6c0,0.6-0.7,2.6-1.1,2.8c-0.4,0.2-0.5,0.1,0.3-1.5c0.3-0.8,0.2-2,0-2.8c-0.2-1.2-2,0.1-1.6-1\
        c0.2-0.2,0.4,0,1.2-0.8c0.4-0.4,1-1.5,1.3-1.3c0.8,0.3-0.3,0.4-0.4,1.6C135.8,35.9,136.2,36.5,136.2,36.9L136.2,36.9L136.2,36.9z\
        M138.1,31.8c-0.5,0.7-1.4,0.9-2.1,1.5c-0.6,0.5-1.4,1.8-2.1,1.9c-0.3,0-0.5,0-0.4,0c-0.1-0.1-0.1-0.2,0-0.3\
        c0.3-0.2,0.6-0.2,0.9-0.4c0.5-0.4,0.5-1.1,1-1.5c0.3-0.2,0.7-0.4,1-0.6c0.5-0.4,0.8-0.8,1.5-1.2c0,0,0.4,0,0.4,0\
        C138.8,31.2,138.3,31.6,138.1,31.8L138.1,31.8L138.1,31.8z M142.9,28.4c-0.8-0.3-1.2-1.1-1.2-1.9c-0.1-0.3,0.2-0.3,0.3-0.2\
        c0.3,0.2,0.6,1.3,1,1.6C143.4,28.3,143.6,28.6,142.9,28.4L142.9,28.4L142.9,28.4z M150.5,30.3c-0.3,0.2-0.7,0.1-1,0\
        c-0.2-0.5,0.4-0.5,0.7-0.6c0.7-0.3,0.5-1.6,1-1.6C151.7,28.2,151,30,150.5,30.3L150.5,30.3z')

        path(fill-rule='evenodd', clip-rule='evenodd', fill='#9CCB40', d='M36.8,55c-0.2-0.3-0.3-0.5-0.5-0.8c-0.6-1-1.4-1.9-2.1-2.9\
        c-1-1.4-1.8-2.8-2.8-4.1c-0.4-0.6-0.7-1.2-1.1-1.8c-0.6-1-1.4-2-1.9-3c-0.8-1.8-1.2-2.6-1.4-2.7c-1.6,0-0.5,2.4-1.6,2.1\
        c0-0.8,0.3-1.2,0.5-1.9c0.3-1.3-0.1-2.9-1-3.8c-0.3-0.3-0.7-0.7-1.1-0.7c-0.1-0.1-0.1-0.4,0-0.4c0.1-0.1,0.2,0.1,0.4,0\
        c1.8-0.9,5.5-2.9,6.3-2.9c0.3,0,0.5-0.1,0.8-0.1c0.4-0.2,0.8-0.1,1.1-0.5c0.5-0.7-0.6-3.4-1.4-3.5c-0.7-0.1-2.1,1.3-2.1,0.4\
        c0.6-0.4,1-0.5,1.2-0.8c1.4-1.9-0.7-4.2-2.6-4.3c-0.8-0.1-1.5,0.2-2.7,0.9c0.3-0.1-6.7,4.5-7.6,6.3c-0.3,0.7,0,1.5,0.4,2.1\
        c0.6,0.8,1.6,1.3,2.5,1.6c0.5,0.1,1.2,0.2,1.6,0.5c0.2,0.1,0.1,0.5,0,0.7c-0.3,0.3-1.6,0.7-1.7,0.3c-0.1-0.4,0-0.6-0.3-0.9\
        c-0.7-0.6-1.3-0.9-1.7-1.3c-0.7-0.5-1.2-1.4-2.1-1.5c-0.9-0.1-2.5,1.5-3.3,2.1c-0.1,0.1-0.3,0.4-0.5,0.4c-0.7,0.6-0.5,0.5-1.4,1.1\
        c-1.3,0.9-2.4,2.2-3.9,2.7c-1.3,0.4-2.3,0.3-3.3,0.4c-0.4,0.1-0.6,0.2-0.7,0.6c-0.1,0.6,0.3,1.1,0.7,1.4c2,2.1,3.9,2.4,6.9,2.4\
        c0.2,0,0.5,0,0.7-0.1c0.7-0.1,1-0.2,1.2-0.3c0.6-0.3,1.3-0.6,1.9-0.9c1.3-0.8,2.8-1.9,3.5-3.3c-0.1,0.1,0.4-0.8,0.6-0.8\
        c0.6,0-0.6,0.7-0.4,2.6c0.1,0.5,0.3,0.9,0.5,1.3c0.5,1,0.9,1.9,1.3,2.9c0.6,1.2,1.1,2.5,1.7,3.7c0.2,0.3,0.9,0.7,0.9,0.8\
        c0.1,0.4-0.2,0.8-0.1,1.2c0.8,2.4,1.7,4.9,2.5,7.3c0.3,0.9,0.6,1.8,0.9,2.7c0.2,0.7,0.3,1.6,0.8,2.1c0.3,0.4,0.8,0.5,1.4,0.5\
        c0,0,0.1,0,0.1-0.1c1.5-0.6,3.3-1.8,3.8-3.5c0.1-0.3-0.1-0.8-0.1-1.1c-0.1-0.4-0.9-2.3-1.1-2.7c-0.1-0.2-0.3-0.4-0.4-0.6\
        c-0.1-0.3-0.3-0.6-0.4-0.9c-0.3-0.4-0.6-0.9-1-1.3c-0.5-0.5-1.2-1.9-3.3-3.2c-0.4-0.3-1-0.4-1.5-0.5c-0.7-0.1-0.5-0.4-0.3-0.5\
        c1.1,0.3,1.8,0,1.4-1c-0.1-0.3,0-0.4,0-0.3c0.1-0.1,0.2-0.1,0.3,0.3c0,0.1,0.1,0.2,0.1,0.3c0.8,1.7,2.6,3,3.6,4.6\
        c0.7,1,1.3,2,1.8,3.1c0.4,0.8,0.8,2.3,1.5,2.9c0.1,0,0.1,0.1,0.2,0.1c0,0,0.1,0.1,0.1,0.1c1.1,0.7,2.8,0.1,3.6-0.8\
        C36.8,56.9,37.2,55.9,36.8,55L36.8,55L36.8,55z M20.3,33.6c-0.7-0.1-1.6-0.3-1.6-1c0.4-0.3,0.4,0.2,0.7,0.2\
        C20.7,32.8,21,33.3,20.3,33.6L20.3,33.6L20.3,33.6z M16.7,38.3c-0.1-0.2,0.2-0.1,0.5-0.4c0.5-0.4,0.9-1.4,1-2.2\
        c-0.2-0.7-0.3-0.8,0.1-1c0.5,0.2,0.4,0.6,0.4,1.1C18.7,36.4,17.5,38.7,16.7,38.3L16.7,38.3L16.7,38.3z M18.9,39c0,0.1,0,0.2,0,0.4\
        c-0.2,0.4-0.5,0.1-0.4-0.1c0.2-1.8,1.5-2.9,1.6-2.3C19.8,37.7,18.9,38.3,18.9,39L18.9,39L18.9,39z M28.1,29.1\
        c-0.3,0.5-1.1,0.8-1.4,1.5c-0.6,0.1-0.8,0-0.6-0.4C28.1,28.1,28.1,28.8,28.1,29.1L28.1,29.1L28.1,29.1z M22.9,33.1\
        c-0.2,0.1-0.9,0-0.5-0.5c1-0.2,1.1-0.5,1.9-1.1c0.5-0.7,0.9-1.4,1.4-2c1-1.1,1.3-1,1.4-0.8c-0.2,0.5-0.9,0.9-1.3,1.4\
        c-0.7,0.8-1.1,1.6-1.8,2.4C23.4,33.1,22.5,33.2,22.9,33.1L22.9,33.1L22.9,33.1z M25.2,45.2c-0.6,0.5-0.6,0.1-0.6,0\
        c0-0.8,0.3-0.7,0.5-2.1C25.4,42.7,25.3,44.1,25.2,45.2L25.2,45.2L25.2,45.2z M25.1,41.1c-0.5,0.4-0.6,0.1-0.6-0.1\
        c0-0.1,0-0.1,0-0.2c0.1-0.2,0.2-0.3,0.4-0.8c0.2-0.5,0.2-1.2,0.1-1.8c-0.1-0.3-0.3-0.9-0.3-0.9c-0.2-0.5,0-0.5,0.2-0.4\
        C25.9,36.9,25.5,39.9,25.1,41.1L25.1,41.1L25.1,41.1z M31.5,55.8c-0.2-0.3-0.2-0.7-0.3-1c-0.3-0.7-0.7-1.4-1.1-2\
        c-0.7-0.9-1.5-1.9-2.2-2.8c-0.8-1-1.7-1.4-1.8-2.6c0.3-0.3,0.5,0.6,0.8,0.8c2,1.9,3.8,4,4.6,6.6c0.1,0.3,0.3,0.6,0.3,1\
        C31.7,55.8,31.6,55.8,31.5,55.8L31.5,55.8z')

        path(fill-rule='evenodd', clip-rule='evenodd', fill='#9CCB40', d='M179.1,47.9c-0.1-1.2-0.4-2.4-0.9-3.4c-0.4-0.7-1.3-2.4-2.2-2.4\
        c-0.8,0-1.3,0.3-2,0.5c-0.4,0.1-0.6,0.3-0.8,0c0-0.7,2.2-0.8,1.9-2.2c-0.1-0.4-0.3-0.7-0.5-0.9c-0.5-0.4-1-0.6-1.5-0.8\
        c-1.3-0.6-2.6-1.2-3.9-1.7c-0.3-0.1-0.5-0.3-0.8-0.4c-0.4-0.1-0.8-0.3-1.2-0.4c-0.5-0.2-2.7-0.7-3.6-1.7c-1.4-1.4,0.3-2.8,1.7-2.9\
        c1.9-0.2,3.7,0.4,5.2,1.2c0.5,0.2,2,1.1,2.5,1.1c1.3,0,3.2-3.5,3.4-4.5c0.1-0.4,0.1-0.8-0.1-1.1c-0.8-1.3-4.6-3.1-6-3.4\
        c-1.5-0.3-3.1-0.6-4.7-0.7c-0.6,0.1-0.7,0.2-0.9,0.5c-0.6,1.3-1.2,3.1-1.7,2.9c-0.1,0-0.3,0-0.3-0.2c0-0.1,0-0.2,0-0.3\
        c0.4-0.4,0.7-0.9,0.7-1.4c0-0.6-0.3-1-0.8-1.1c-2.1-0.7-4.9,1.4-6.2,2.9c-0.8,0.9-2.8,3.9-2,5.1c0.2,0.3,0.4,0.4,0.7,0.4\
        c0.5-0.1,0.8,0,0.8,0.2c0,0.3-0.8,0.8-1,1c-0.2,0.3-0.3,0.6-0.4,1c-0.4,2.3,1.8,4.2,3.5,5.2c0.5,0.3,0.9,0.7,1.6,0.7\
        c1.9-1.8,0.3-2.9-0.1-4.7c-0.2-0.9,0.2-2.4,0.5-2.6c0.2-0.1,0.3,0,0.4,0c0.1,0.5-0.6,1.1-0.4,2c0.1,0.7,0.5,1.2,0.8,1.8\
        c0.1,0.3,0.2,0.7,0.3,1c0.3,1.1-0.1,2.3,0.4,3.3c0.6,1.2,2.1,1.7,3.3,2.1c0.6,0.3,1.2,0.6,1.8,1c1.5,0.8,2.9,1.7,3.7,3.2\
        c0.6,1.2,1,3.2,0.3,4.4c-0.4,0.5-0.8,0.9-1.3,1.4c-0.9,1.5-1.5,1-1.5,0.9c0-0.1,0.1-0.3,0.1-0.4c1-0.6,2.1-2.3,2.1-3.5\
        c0,0-0.1,0-0.1,0c-0.6,0.6-1.2,1.4-1.9,1.7c-0.5,0.3-1.2,0.3-1.8,0.3c-2.6,0.1-5.1-1-6.5-3.1c-0.4-0.6-0.5-1.4-0.7-2.1\
        c-0.1-0.3,0-0.7-0.1-1c-0.1-0.2-0.2-0.4-0.4-0.4c-0.6-0.2-2.7,0.8-2.7,1.5c0,0.5,0.5,1,0.6,1.5c-0.1-0.3,0.6,1.5-0.6,1.5\
        c0.6-1.2,0.1-1.8-0.1-2.1c-0.2-0.3-0.4-0.6-0.8-0.6c-0.6,0.1-2.6,1.7-3,2.2c-0.7,0.9,0,3.7,1,3.8c0.3-0.1,1.2-1.3,1.5-1.2\
        c0.4,0.1-0.2,0.5-0.2,0.6c-0.3,0.7-1.3,1.4-1,2.3c0.3,0.8,1.2,1.7,2,2.2c0.3,0.1,0.6,0.3,0.9,0.4c0.1,0.1,0.3,0.2,0.4,0.4\
        c0.4,0.3,0.9,0.5,1.3,0.7c1.3,0.6,4.6,1.1,5.9,0.2c0.6-0.4,0.7-1.2,1-1.8c0.1-0.1,0.7-0.9,0.7-0.9c0.4-0.2,0.4,0.1,0.5,0.1\
        c-0.1,0.7-0.6,1-0.8,1.7c-0.4,1.5,1.7,1.9,2.8,1.9c0.2,0,0.4-0.1,0.6-0.1c0.6-0.2,1.2-0.3,1.8-0.5c1-0.3,2-0.7,2.8-1.2\
        C176.8,56.7,179.5,52.5,179.1,47.9L179.1,47.9L179.1,47.9z M161.6,37.8c-0.1,0-0.2-0.1-0.3-0.1c-0.4-0.7-1.2-1.5-0.9-2.5\
        c0.7-0.5,0.4,1.8,1.3,2.2C162.1,37.9,161.7,37.9,161.6,37.8L161.6,37.8L161.6,37.8z M161.8,28.8c-0.5,0.4-1,0.6-1.4,1.1\
        c-0.4,0.5-0.7,1-1.1,1.4c-0.1,0.1-0.2,0.2-0.3,0.4c-0.3,0.6-0.4,0.7-0.6,1c-1.8,1.7-2.2,0.6-1.7,0.3c1.1-0.2,1.6-1.1,1.8-1.4\
        c1.5-2.8,2.3-2.5,2.9-2.9C161.7,28.3,162,28.5,161.8,28.8L161.8,28.8L161.8,28.8z M166.3,55c-0.4,0.5-1,0.8-1.5,1.4\
        c-0.3,0.4-0.6,0.8-0.9,1.2c-0.3,0.5-0.5,1.1-1.1,1.5c-0.3,0.3-0.3-0.1-0.1-0.2c0.8-1.6,1.6-3.2,3.1-4.3\
        C166.5,54.6,166.3,54.9,166.3,55L166.3,55L166.3,55z M170.5,45.1c-0.5-0.8-1.6-0.8-2.2-1.3c0.1,0.2-0.3-0.2,0-0.6\
        c0.4-0.3,1.2,0.4,1.6,0.5c0.3,0,0.6,0.1,1,0c0.2-0.1,0.4-0.3,0.6-0.4c0.1-0.2,0.3,0,0.3,0.1c0,0.5-0.5,1-0.4,1.5\
        c0,1.4,1.2,2,1.7,3.1c0.3,0.7,0.4,1.1-0.2,0.7c-0.3-0.2-0.3-0.7-0.5-1c-0.4-0.7-1-1.2-1.4-1.9C170.9,45.6,170.7,45.3,170.5,45.1\
        L170.5,45.1L170.5,45.1z M173.2,52.8c-0.1,0.2-0.4,0.3-0.5,0.5c-0.2,0.1-0.5,0.2-0.4-0.5c1-0.5,0.7-1.9,0.8-2.1c0.1,0,0.1,0,0.2,0\
        C173.8,50.7,173.5,52.2,173.2,52.8L173.2,52.8z')

        path(fill-rule='evenodd', clip-rule='evenodd', fill='#9CCB40', d='M110.5,16.8c-0.4-0.8-1.5-0.9-2.3-1.1c0.4,0.1-2.1-0.3-3.8-0.4\
        c0.2,0-2.5-0.1-3.7,0.1c-2,0.3-3.9,0.7-5.7,1.4c-0.7,0.3-1.6,0.4-2.1,1.1c-0.6,0.7-0.7,1.7-0.8,2.6c0,0.3,0.1,0.5,0,0.9\
        c-0.2,0.1-0.4,0.1-0.5-0.1c-0.2-0.9,0.2-3,0.1-3.5c0-0.2-0.5-0.3-1.1-0.2c-0.6,0.1-1.1,0.3-1.7,0.5c-1,0.3-2.2,0.4-3.3,0.4\
        c-0.9-0.1-1.8-0.1-2.7-0.2c-0.4,0-0.8-0.3-1.2-0.1c-0.8,0.3,0,1.6-0.3,2.3c-0.5,0.8-0.9-0.8-1.7-1.5c0.1,0-1.6-1.5-5.5-1.4\
        c-2.1,0.1-12.6,1.4-13.2,2.6c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c-0.2,0.6,0.2,1.3,0.3,1.9c0.2,0.7,0.4,1.6,0.5,2.3\
        c0.1,0.7,0.2,1.4,0.3,2c0.1,0.8,0,2.2,0.5,2.8c0.2,0.3,0.3,0.2,0.6,0.1c0.5-0.2,0.6-0.4,0.8-0.8c0.3-0.5,0.6-1,0.9-1.4\
        c0.1-0.1,0.1-0.1,0.2-0.1c0,0,0.5,0.9-1.5,2.9c-0.4,0.4-0.9,0.5-1.1,1.2c-0.2,0.5-0.1,1.1-0.1,1.7c0,0.7,0,1.3,0,2\
        c0,0.6,0.1,1.3,0.1,1.9c0,1.8-0.1,3.6,0,5.4c0,1,0,2.1,0.3,3c0.2,0.6,0.6,1.3,1.3,1.5c0.8,0.3,3,0.5,3.5-0.3\
        c0.3-0.5,0.2-1.3,0.2-1.9c0-0.2,0.1-0.4,0.4-0.2c0.4,1,0.6,1.9,1.1,2.1c0.4,0.1,0.9,0.1,1.3,0.1c0.5-0.3,1.1-0.4,1.1-1.2\
        c0.1-1.3-0.6-2-1-3c-0.3-0.6-0.5-1.3-0.5-1.9C70,40.2,70,40,69.9,39.8c-0.4-1.5-0.1-3.3-0.5-4.9c-0.1-0.4-0.3-0.7-0.4-1.1\
        c-0.2-0.4-0.7-0.7-0.7-1.2c0,0,0.1,0,0.1,0c0,0,0-0.1,0-0.1c0.2,0,0.6,0.1,0.7-0.2c0.2-0.5,0-1.8,0.1-2.4c0-1.6,1.1-4.4-1.4-4.5\
        c-0.2,0-0.8,0.1-1-0.2C66.5,25,68,25,68,25.1c0.5,0.1,1,0.2,1.4,0.2c1.4,0.1,3.5-0.1,4.5-0.9c0.8-0.6,0.7-2,1-2.8\
        c0,0,0.3-0.8,0.6-0.6c0.2,0.1,0.1,0.4-0.3,0.9c-0.1,0.1-0.1,0.5,0,1c0,0.5,0.2,1.1,0.5,1.5c0.6,1.2,2.4,1.5,2.1,3.2\
        c0,0.2-0.1,0.5-0.1,0.7c-0.7,1.7-2.9,1.7-4.4,2.1c-1,0.2-2.3,0.9-2.9,1.8c-0.3,0.5-0.5,1.1-0.5,1.8c-0.2,4,2.1,7.2,4.6,9.9\
        c1.1,1.2,2.4,2.6,4,3.1c0.4,0.1,0.9,0.2,1,0c0.2-0.4-0.3-0.7-0.4-1.2c0-0.2-0.1-0.4,0.3-0.6c0.6,0,0.5,1,1.6,1\
        c1.7,0,3.7-3.1,4.4-4.4c0.2-0.3,0.3-0.6,0.1-1.1c-0.2-0.3-1.7-0.2-2.8-0.8c-1.7-0.9-2.8-2.8-4.9-3.1c-0.7-0.1-1.5-0.1-2,0.3\
        c-0.6,0.4-0.8,0.6-1,0.3c0.4-1.5,4.8-2.1,7.2-2.7c2.4-0.8,4.4-2.6,4.6-5.3c0.2-2.5-1.4-4.2-2.9-5.8c-0.3-0.3-0.6-0.5-0.8-0.8\
        c-1.3-0.9-1.1-1-0.8-1.1c0.2,0,1.3,0.7,1.5,0.8c0.6,0.4,1.2,0.7,1.8,1.1c0.4,0.3,0.8,0.6,1.2,0.9c0.9,0.5,3,0.1,3.7-0.1\
        c1.5-0.6,1.2,0.6,1,2c-0.1,0.8-0.2,1.6-0.2,2.2c0,0.3,0,0.6,0.1,0.8c0.3,0.4,1,0.4,1.5,0.4c0.6,0.2-0.1,0.7-0.4,0.7\
        c-0.4,0.1-1.3,0.1-1.5,0.5c-0.5,1-0.3,2.4-0.4,3.6c-0.2,1.7-0.4,3.5-0.7,5.2c-0.1,0.9-0.4,1.8-0.4,2.8c0,0.4,0,0.9,0.3,1.2\
        c0.9,0.8,2.4,0.2,3.2,0.1c2.8-0.8,3.4-0.7,4.9-1c0.8-0.2,1.2-0.3,1.6-0.7c0.5-0.6-0.2-3.2-0.3-4.2c-0.1-0.8-0.1-1.6-0.3-2.3\
        c-0.2-0.5-0.2-0.7-0.5-0.9c-0.2-0.1-1,0.1-2.2-0.1c-0.2-0.1-0.1-0.4,0.2-0.4c0.2,0,0.5,0,0.8,0c0.6-0.1,1.3-0.6,1.7-1.4\
        c0.2-0.5,0.3-1,0.4-1.6c-0.1,0.8,0.3-2.9,0.3-5.6c0.3-3.1-0.3-3-0.6-3.4c-0.3-0.7-0.4-1.6-1.1-2.1c-0.7-0.5-3.3-0.1-3.5-0.9\
        c0-0.2,0.1-0.4,0.4-0.3c1.1,0.7,2.1,0.1,3,0.5c1.2,0.5,1.1,2,2.3,2.6c0.6,0.4,1.4,0.4,2.2,0.4c0.8,0.1,1.6,0.2,2.3,0.4\
        c0.9,0.2,1.8,0.5,2.7,0.7c1.1,0.4,1.4,0.7,2.1,0.6c0.6-0.6,1.1-4.5,1.3-6.2C110.6,17.9,110.7,17.1,110.5,16.8L110.5,16.8\
        L110.5,16.8z M63.9,30c1.2-1.1,1.2-1.1,1.5-1.9c0,0,0.5-0.7,0.5,0.1c0,0.8-0.6,1.2-0.6,1.2l-1.6,1.3C63.7,30.7,62.8,31.1,63.9,30\
        L63.9,30L63.9,30z M65.9,46.4c-0.1-0.8,0.4,0.1,0.9-1.2c0.1-0.4-0.3-1.2,0.2-1.2C67.4,45,67.3,46.4,65.9,46.4L65.9,46.4L65.9,46.4z\
        M67,35.9c-0.4,0.4-0.5-0.1-0.4-0.1c-0.1-0.6,0.2-2.8-2-4c-0.3-0.1-0.6-0.5-0.9-0.5c-0.3-0.2-0.1-0.3,0.1-0.4\
        C66.2,31.3,67,33.6,67,35.9L67,35.9L67,35.9z M74.6,21.1c-0.5,0.6-0.8,1.8-0.8,1.9c-0.4-0.1-0.3-0.1-0.3-0.6c0,0,0-0.3,1.6-2.6\
        c0.1-0.2,0.2-0.4,0.3-0.7c0.2-0.3-0.1-0.8,0.4-0.8C77.1,18.7,75.1,20.6,74.6,21.1L74.6,21.1L74.6,21.1z M83.1,41c0,0,0.2,0,0.2,0\
        c0.1,0.2,0.4,0.2,0.5,0.2c0.4,0.1,0.5,0,0.7,0c0.6,0,0.4,0.7,0,1.5c-0.1,0.2-0.2,0.6-0.6,0.4c-0.1-0.3,0.6-1.1-0.1-1.4\
        c-0.4-0.2-0.7-0.1-0.9-0.2C82.9,41.4,82.9,41.1,83.1,41L83.1,41L83.1,41z M78.3,43.3c0.7-0.3,1.1,0.6,1.1,1.2c0,0.1,0,0.2-0.2,0.3\
        c-0.1,0-0.1-0.1-0.4-0.5c-0.3-0.4-0.7-0.3-0.7-0.5C78.1,43.6,78.1,43.4,78.3,43.3L78.3,43.3L78.3,43.3z M72.3,39\
        c-0.2-0.1-0.3-0.2-0.7-0.3c-0.1-0.1-0.1-0.2-0.1-0.3c0.1-0.3,0.4-0.1,0.7-0.2c0.8-0.2,0.8-0.3,1.7-0.9c0.3,0,0.9,0,0.5,0.5\
        c-0.8,0.9-0.7,1.5-0.8,2C72.8,39.8,73,39.3,72.3,39L72.3,39L72.3,39z M75.2,37.8c0.8,0.2-0.4,1.1-0.4,1.6c0,0.4-0.1,0.8,0,1.2\
        c0.4,0.9,0.5,1.2,0.3,1.2c-0.2,0.1-0.3,0.1-0.5-0.2C73.6,40.2,74.4,38.4,75.2,37.8L75.2,37.8L75.2,37.8z M79.8,34.4\
        c-0.1,0.2-0.2,0.2-0.5,0.2c-0.6,0.1-0.9,0.2-1.6,0.3c-1.3,0.2-2.5,0.7-3.5,1.5c0.2-0.2-0.9,1-0.6,0c0.7-1.3,2.5-1.5,4.2-2\
        C77.9,34.5,80,33.6,79.8,34.4L79.8,34.4L79.8,34.4z M90.9,41.9c-0.1,0.2-0.3,0.8-0.6,0.8c-0.2-0.1,0-0.4,0-0.4\
        c0.3-1,0.9-1.9,1.2-2.9c0.2-0.8,0.3-1.5,0.5-2.2c0.1-0.1,0.6-0.3,0.5,0.1c-0.1,0.5-0.3,1.3-0.6,3.2C91.9,41,91.2,41.4,90.9,41.9\
        L90.9,41.9L90.9,41.9z M92.9,40.6c-0.1,0.2-0.2,1.1-0.6,0.8c0-0.2,0.1-0.8,0.3-1.1c0.1-0.5-0.1-1.5,0.2-1.6\
        C93.5,38.7,93.1,39.9,92.9,40.6L92.9,40.6L92.9,40.6z M96.2,24c0.6,0.4,0.9,1.3,1,2c0,0.3,0,0.4-0.3,0.4c-0.3,0-0.3-0.7-0.5-1.3\
        c-0.1-0.2-0.2-0.4-0.3-0.6C95.9,24.3,95.8,24,96.2,24L96.2,24L96.2,24z M95.4,24.3c1.5,1.5,1,4.2-0.6,5.4c-0.6,0.5-1.5,0.3-0.8-0.1\
        c2.8-1.3,1.2-4.4,1-4.7c-0.3-0.3-0.5-0.6-0.8-0.8C94,24,94,23.6,94.2,23.4C94.5,23.2,95.1,23.9,95.4,24.3L95.4,24.3z')

        polygon(fill-rule='evenodd', clip-rule='evenodd', fill='#ED1C24', points='108.7,10.8 109.7,10.8 109.4,8.4 108.7,10.8 	')

        path(fill-rule='evenodd', clip-rule='evenodd', fill='#ED1C24', d='M108.1,12.7L108,13c0.7,0.1,1.3,0.2,1.8,0.3c0,0,0.1,0,0.1,0\
        l-0.1-0.7L108.1,12.7L108.1,12.7z')

        polygon(fill-rule='evenodd', clip-rule='evenodd', fill='#ED1C24', points='61.8,10.9 63.6,10.9 61.8,7.5 61.8,10.9 	')

        path(fill-rule='evenodd', clip-rule='evenodd', fill='#ED1C24', d='M22.4,2l8.9,14.1l34,0c0,0,11.4-3,15.2-0.3c0.2,0,0.5-0.4,0.9-0.5\
        c0.5-0.1,1,0.1,1.4,0.1c1.1,0.1,2.1,0.2,3.2,0.2c0.3,0,0.7-0.1,1-0.1c0.3-0.1,0.7-0.1,1-0.1c0.2,0,0.4-0.1,0.6-0.1\
        c0.2,0,0.4-0.1,0.6-0.1c0.5-0.3,1.4-0.5,2.1-0.5c0.4,0,0.8,0.1,1.2,0c1.2-0.4,2.3-0.8,3.5-1.1c-1.4-0.2-2.5-1.4-2.6-2.7h0V4.2h2.3\
        l0,6.8c0.1,0.4,0.4,0.7,0.9,0.7c0.5,0,0.9-0.4,0.9-0.8l0-6.7h2.3V11h0c-0.1,0.8-0.5,1.6-1.1,2.1c1.1-0.2,2.2-0.3,3.4-0.3l0.2-6.5\
        h-1.7v-2h6.1v2h-2l-0.2,6.5c0.4,0,0.8,0,1.1,0l2.7-8.5h3.1l0.9,9.9h-0.7c0.2,0.1,0.4,0.2,0.6,0.3c0.3,0.1,0.6,0,1,0\
        c0.4,0,0.8,0.1,1.2,0.1c1,0.3,2,0.5,2.9,0.8c0.3,0.1,0.6,0.2,0.9,0.3c0.6,0.1,1.2-0.3,1.9-0.2c0.8,0.2,2.5,0.7,2.5,0.7l37.8-0.1\
        l8.6-14L22.4,2L22.4,2L22.4,2z M32.9,14.1l-4.6-7.8h-1.7l-1.3-2h7.4l1.3,2h-2.7l4.4,7.8H32.9L32.9,14.1L32.9,14.1z M38.8,14.1\
        l-4.9-9.9h6.1l0.9,2h-3.3l0.8,1.7h3l0.7,1.8h-2.9l1.2,2.5h3.1l0.9,1.9H38.8L38.8,14.1L38.8,14.1z M45.7,14.1l-4.4-9.9h6l0.8,2h-3.3\
        l0.7,1.7h3l0.6,1.8h-2.8l1.1,2.5h3.1l0.8,1.9H45.7L45.7,14.1L45.7,14.1z M57,14.1l-0.3-0.3l0,0l0-0.1L53,8.9l1.9,5.2l-2.5,0\
        l-3.6-9.8l3.2,0l3.2,4.2l-1.1-4.2l2.2,0l2.7,9.8L57,14.1L57,14.1L57,14.1z M65.2,14.1l-0.7-1.5l-2.6,0v1.5h-2.2V4.2l3.1,0l5,9.9\
        L65.2,14.1L65.2,14.1L65.2,14.1z M69.1,13.5c-2.5-1.8-3.5-4.9-2.1-7.3c0.4-0.7,1.9-2.5,4.8-1.7L72.5,7c-2.1-1.2-3.1,0.1-3.3,0.6\
        c-0.7,1.3-0.2,3.2,1.1,4.2c0.6,0.4,1.2,0.5,1.8,0.5h0l-0.7-3l2.3,0l1.1,4.6C74.7,13.9,71,14.6,69.1,13.5L69.1,13.5L69.1,13.5z\
        M75.7,14.1L74,4.2h5.8l0.3,2H77l0.3,1.7h2.9l0.2,1.8h-2.7l0.4,2.5h3l0.3,1.9H75.7L75.7,14.1L75.7,14.1z M92.1,14.1h-2.5V9.8\
        l-1.8,4.2L86,9.8v4.2h-2.5V4.2l2.7,0l1.7,4.1l1.6-4.1l2.6,0V14.1L92.1,14.1L92.1,14.1z M119,14.1l-2.1,0l-1.4-4.1l-0.5,4.2h-2.2\
        l1.1-9.9l2.4,0l1.5,4.3l0.6-4.3l2.1,0L119,14.1L119,14.1L119,14.1z M126.8,6.2h-1.9l-1.4,7.9l-2.3-0.1l1.4-7.8h-1.6l0.3-2h5.9\
        L126.8,6.2L126.8,6.2L126.8,6.2z M131.8,14.1l-0.9-4.1l-1.1,4.2h-2.4l2.6-9.9l2.5,0l1,4.3l1.3-4.3l2.2,0l-3,9.9L131.8,14.1\
        L131.8,14.1L131.8,14.1z M135.2,14.1l3-9.9h2.3l-3,9.9H135.2L135.2,14.1L135.2,14.1z M143.5,14.1L143,9.6l-1.5,4.5H139l3.3-9.9h2.3\
        l0.7,4.7l1.6-4.7h2.5l-3.3,9.9H143.5L143.5,14.1L143.5,14.1z M147,12.9l1-2.3c1.2,2.5,2.5,0.4,2.5,0.4l3.1-6.8h2.6l-3.7,8.1\
        c0,0-0.2,0.3-0.4,0.5C149.7,15.5,147,12.9,147,12.9L147,12.9L147,12.9z M160.1,14.1l-2.4,0l0.5-1.5h-2.5l-1.2,1.5l-2.5,0l7.6-9.9\
        h3.4L160.1,14.1L160.1,14.1z')

        polygon(fill-rule='evenodd', clip-rule='evenodd', fill='#ED1C24', points='158.7,10.9 159.8,7.3 157,10.9 158.7,10.9 	')

        path(fill-rule='evenodd', clip-rule='evenodd', d='M184,30c0.2,0.1,0.4,0.2,0.6,0.4c0.2,0.2,0.3,0.3,0.4,0.5\
        c0.1,0.3,0.2,0.5,0.2,0.8c0,0.3-0.1,0.6-0.2,0.9c-0.2,0.3-0.4,0.5-0.7,0.7c-0.3,0.2-0.6,0.2-0.9,0.2c-0.3,0-0.6-0.1-0.9-0.2\
        c-0.3-0.2-0.5-0.4-0.7-0.7c-0.2-0.3-0.2-0.6-0.2-0.9c0-0.3,0.1-0.5,0.2-0.7c0.1-0.2,0.2-0.4,0.4-0.6c0.2-0.2,0.3-0.3,0.5-0.4\
        c0.2-0.1,0.5-0.2,0.8-0.2C183.6,29.9,183.8,29.9,184,30L184,30L184,30z M185.4,30.8c-0.1-0.2-0.2-0.5-0.4-0.7\
        c-0.2-0.2-0.4-0.4-0.7-0.5c-0.3-0.1-0.6-0.2-0.9-0.2c-0.3,0-0.7,0.1-1,0.2c-0.2,0.1-0.4,0.3-0.6,0.4c-0.2,0.2-0.3,0.4-0.5,0.7\
        c-0.1,0.3-0.2,0.6-0.2,0.9c0,0.3,0.1,0.7,0.2,1c0.1,0.2,0.3,0.4,0.4,0.6c0.2,0.2,0.4,0.3,0.7,0.5c0.3,0.1,0.6,0.2,0.9,0.2\
        c0.3,0,0.7-0.1,1-0.2c0.2-0.1,0.5-0.3,0.7-0.5c0.2-0.2,0.4-0.4,0.5-0.7c0.1-0.3,0.2-0.6,0.2-0.9C185.6,31.4,185.5,31.1,185.4,30.8\
        L185.4,30.8L185.4,30.8z M183.1,32.1c0.2,0,0.3,0,0.4,0c0.1,0,0.1,0.1,0.2,0.1c0,0,0,0.2,0,0.3c0,0.2,0,0.3,0,0.3h0.7\
        c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.2c0-0.2,0-0.4-0.1-0.5c0-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.2-0.1-0.3-0.1c0.2,0,0.4-0.1,0.5-0.2\
        c0.1-0.1,0.2-0.3,0.2-0.4c0-0.2-0.1-0.4-0.2-0.5c-0.2-0.1-0.4-0.2-0.8-0.2h-1.1l0,2.5h0.7V32.1L183.1,32.1L183.1,32.1z M183.2,31\
        c0.2,0,0.3,0,0.3,0.1c0.1,0.1,0.1,0.1,0.1,0.2c0,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.2,0.1-0.4,0.1h-0.1V31H183.2L183.2,31z')