- const cardPairsAmt = 2;
- const characters = [ { name: 'Raphael', image: 'raphael.png' }, { name: 'Donatello', image: 'donatello.png' }, { name: 'Leonardo', image: 'leonardo.png' }, { name: 'Michelangelo', image: 'michelangelo.png' }, { name: 'Master Splinter', image: 'splinter.png' }, { name: 'The Shredder', image: 'shredder.png' } ];

section.cards
  - for (var i = 0; i < cardPairsAmt; i++)
      each character in characters
          .card(data-character=character.name data-matched='false')
            .card__container
              .card__inner
                figure.card__flipper.card__flipper--front
                  .flipper__inner
                    svg.card__img.card__img--logo
                      use(xlink:href='#tmnt-logo')

                figure.card__flipper.card__flipper--back
                    .flipper__inner
                        img.card__img.card__img--character(src=`../images/${character.image}` alt=`Photo of ${character.name}.`)